footer {
  background-color: rgb(0, 102, 146);
  padding: 1rem;
  color: azure;
}
footer h2 {
  color: white !important;
  text-decoration: none;
  margin-bottom: 0;
}
footer button {
  background-color: white;
  border: none;
  color: rgb(0, 102, 146);
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  padding: 0.2rem .5rem;
}
footer button:hover {
  color: blanchedalmond;
  background-color: rgb(43, 135, 175);
}
