h2  {
    /* margin: 2rem 0; */
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(1, 116, 153);
    text-decoration: underline;
    
  }
  #application{
    background-color:  rgb(231, 246, 250);
    padding: 3rem 1rem;
  }

 #application form{
    background-color: rgb(207, 243, 255);
    color: rgb(1, 116, 153);
    border-radius: 6px;
    margin-top: 2rem;
    width: 50%;
  }
  form button{
    background-color: rgb(1, 116, 153);
  }

  form input ,label{
    color: rgb(6, 74, 97);
  }
  form span{
    font-size: .6rem;
    color: black;
    line-height: 1 !important;
  }

  input{
    background-color: transparent !important;
  }

  @media screen and (max-width: 600px) {
    #application form {
      width: 75%;
    }}