@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
  }

  hr{
    height: .2rem;
    background-color: rgb(206, 206, 206);
  }

  .adminHometext{
    color: rgb(5, 146, 146);
    font-size: 2rem;
    font-weight: 600;
  }